
:root{
    --min-nav:hsl(257, 27%, 26%);
}

.shorten-desktop{
    background-image: url('images/bg-shorten-desktop.svg');
    height: 5rem;
    width: 100%;
    background-repeat: no-repeat;
}
.shorten-mobile{
    background-image: url('images/bg-shorten-mobile.svg');
    z-index: 1;
    height: 3rem;
    background-position: center;
    background-color: #574b74;
}

.boost-desktop{
    background-image: url('images/bg-boost-desktop.svg');
    z-index: 1;
    height: 3rem;
    width: 100vw;
    background-position: center;
    background-color: #574b74;
    background-size:10rem;
}


.boost-mobile{
    background-image: url('images/bg-boost-mobile.svg');
    height: 16rem;
    width: 100vw;
    background-position: center;
    background-color: #574b74;
    background-size:10rem;
}

.min{
    background-color: var(--min-nav);
}

.articleImg{
    background-color:#574b74;
    border-radius:50% ;
    padding: 0.5rem
}
.me::before{
    content:"";
    height: 3em;
    width:0.4em;
    background-color: aqua;
    display: block;
    position: absolute;
    top:-3em;
    left:10.5em
}
svg path{
    fill: aliceblue;
}